	<form [formGroup]="addOrderForm" class="form">

		<h4>О заказе</h4>
		<mat-card class="form__comment">
			<mat-form-field appearance="standard">
				<mat-label>Комментарий</mat-label>
				<textarea matInput formControlName="comment"></textarea>
			</mat-form-field>
			
		</mat-card>
	
		<h4>Отправка</h4>
		<div class="form__block">
			<mat-card class="select-card">
				<mat-form-field appearance="standard">
					<mat-label>Дата*</mat-label>
					<mat-select formControlName="shipmentDate">
						<mat-option *ngFor="let month of months" [value]="month.date">
								{{month.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-card>
			
			<mat-divider [vertical]="true"></mat-divider>
	
			<mat-card class="select-card">
				<mat-form-field appearance="standard">
					<mat-label>Тип*</mat-label>
					<mat-select formControlName="shipmentType">
						<mat-option *ngFor="let type of shipmentTypes" [value]="type">
							  {{type}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-card>
			
		</div>
		
	
		<h4>Что везем</h4>

		<ntv-order-structure [order]="order"
							 [orderStructureGroup]="orderStructure">
		</ntv-order-structure>
	
	</form>
