<div class="signin-content">
    <mat-card>
        <form #f="ngForm" (ngSubmit)="auth(f.value)">
            <mat-form-field class="full-width">
				<mat-label>Логин</mat-label>
                <input matInput
                    type="text"
                    ngModel
                    name="username"
                    required
                    #name='ngModel'
                    appUsernameValidator
                >
                <mat-error *ngIf='name.errors?.nospecial'>{{name?.errors?.nospecial || ""}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
				<mat-label>Пароль</mat-label>
                <input matInput
                    type="password"
                    name="password"
                    ngModel
                    required
                >
            </mat-form-field>
            <button [disabled]='f.invalid' mat-raised-button color='primary' type="submit">Войти</button>
        </form>
    </mat-card>
</div>
