:host {
	display: block;
	width: 100%;
	height: 100%;
}

.table-header {
	width: 100%;
	padding: 0 100px 16px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	color: rgba(0, 0, 0, 0.54);
	font-size: .75rem;
	font-weight: 500;
}

.scrollbar {

	max-height: calc(100vh - 64px);
	min-height: calc(100vh - 64px);

	&__content {
		padding: 0 16px;
	}
}