<mat-card class="card">
	<p>{{order.name}}</p>

	<mat-checkbox (click)="$event.preventDefault(); changeSended(!order.sended)"
				  [checked]="order.sended"
				  color="accent"> 
		Отправлено
	</mat-checkbox>
	<ntv-overlined *ngIf="order.track"
				   [value]="order.track"
				   overline="номер">
	</ntv-overlined>

	<ng-container *ngIf="showStructure">
		<ntv-overlined *ngIf="order.comment" 
					   [value]="order.comment" 
					   overline="комментарий">
		</ntv-overlined>

		<ntv-order-structure [orderStructure]="order.orderStructure"></ntv-order-structure>
	</ng-container>

	<ntv-overlined *ngIf="showAddress"
				   [value]="order.address.city + ' ' + order.address.address"
				   overline="адрес">
	</ntv-overlined>

	

</mat-card>


