@import "settings";

$heading-font-family: 'mtssans', 'Roboto', sans-serif !default;
$heading-font-weight: 700 !default;
$heading-line-height: 1.5 !default;

$body-font-family: 'Roboto', sans-serif !default;
$body-font-weight: 400 !default;
$body-line-height: 1.5 !default;

html {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;

	min-height: 100%;

	font-size: $root-font-size;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
//
//*:focus {
//	outline: none;
//}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	font-size: 1rem;
	line-height: $body-line-height;
	color: $body-text-color;
}

// Заголовки
//
// Для заголовков h1, h2, сброшены стили, для того чтобы опредлять их в классах модулей.
//
// markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
//
// Styleguide 1.2.2

h1, h2, h3, h4, h5, h6, p {
	margin: 0;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
}

// Другие случаи сброса стилей
//
// Styleguide 1.2.3

ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none
}

//input:focus, textarea:focus {
//	outline: none;
//}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin: 0;

	-webkit-appearance: none;
}

input[type=search] {
	-webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

input::-ms-clear {
	display: none;
}

input[readonly] {
	cursor: pointer;
}

table {
	border: none;
}

a {
	color: inherit;

	//&:focus {
	//	outline: none;
	//}
}

textarea {
	box-sizing: content-box;
}

[class|='i'] {
	display: inline-block;
}

//хак для цвета автозаполнения в хроме
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

.clear {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

.i-material {
	margin: 0;
}

.hidden {
	display: none;
}

.help-msg {
	color: $text-color-lightest;
}

.status {
	&--yellow {
		color: $status-yellow;
	}

	&--blue {
		color: $status-blue;
	}

	&--green {
		color: $status-green;
	}

	&--red {
		color: $status-red;
	}

	&--violet {
		color: $status-violet;
	}
}

.mat-dialog-actions {
	margin-right: -16px;
}
