/* TEXT OVERFLOW */

@mixin text-overflow {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* PREVIEW AVATAR */
@mixin preview-avatar {
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
}

/* TABLE GRID*/
@mixin table-grid {
	display: grid;
	position: relative;
	grid-template-rows: 48px;
	grid-auto-rows: 48px;
	align-items: center;
	padding-right: 20px;
	flex-grow: 1;
	flex-shrink: 1;
}

/* TABLE WRAPPER*/
@mixin table-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	overflow-y: hidden;
}

/* TABLE CELL */
@mixin table-cell {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;

	&--draggable {
		justify-content: flex-start;
	}

	&__content {
		@include text-overflow;
	}

	&--small-font {
		font-size: 12px;
	}

	&:first-child {
		justify-content: left;
	}

	&:last-child {
		justify-content: flex-end;
	}
}

/* HOVER ROW TABLE */
@mixin hover-row {
	cursor: pointer;
	background-color: #ECEFF1;
	border-top-color: transparent;

	&:first-of-type {
		border-radius: 4px 0 0 4px;
	}

	&:last-of-type {
		border-radius: 0 4px 4px 0;
	}

	&:first-child {
		color: #000000;
	}
}
