:host {
	display: block;
	width: 100%;
}

.add-order {
	padding: 24px;

	&__forms-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		gap: 16px;
	}

	&__submit-button {
		margin-top: 16px;

		&__content {
			display: flex;
			align-items: center;
		}
	
		&__spinner {
			margin-top: 0;
			margin-left: 8px;
		}
	
		&__error-icon {
			margin-left: 8px;
		}
	}
}

.scrollbar {
	max-height: calc(100vh - 64px);
	min-height: calc(100vh - 64px);
}