:host {
	display: block;
	overflow: hidden;
}

.person {

	&__title{
		min-width: 200px;
		max-width: 200px;
	}

	&__description {
		display: grid;
		grid-template-columns: repeat(3, 1fr) auto auto;
		grid-gap: 16px;
	}

	&__address {
		display: grid;
		grid-template-areas: 
			'title title'
			'item item';
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		
		&-title {
			grid-area: title;
		}
		&-item {
			cursor: pointer;
		}
	}

	

	&.mat-expansion-panel {
		border-radius: 0!important;
	}


}

