<form [formGroup]="form" class="form" (ngSubmit)="search()">
	<mat-form-field appearance="standard" class="low-control form__control">
		<mat-label>Дата</mat-label>
		<mat-select formControlName="shipmentDate">
			<mat-option *ngFor="let month of months" [value]="month.date">
					{{month.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="standard" class="low-control form__control">
		<mat-label>Тип отправки</mat-label>
		<mat-select formControlName="shipmentType">
			<mat-option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType">
					{{shipmentType}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-checkbox formControlName="notSended">не отправленные</mat-checkbox>

	<button mat-raised-button color="accent" type="submit" class="form__control">
		search
	</button>
</form>
